@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 0 0% 6%;
  --fg: 0 0% 96%;
  --muted: 0 0% 70%;
  --panel: 0 0% 10%;
  --panel-2: 0 0% 13%;
  --border: 0 0% 18%;
  --accent: 275 85% 62%;
  --accent-2: 190 85% 55%;
}

html,
body {
  height: 100%;
}

body {
  background: hsl(var(--bg));
  color: hsl(var(--fg));
  font-feature-settings: "ss02" 1, "ss03" 1;
}
